body {
  height: 100%;
  background: radial-gradient(circle, #694196, #684d81);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Black", monospace;
}

.post {
  margin: 10%;
  display: flex;
  width: 80%;
}

.post-left {
  width: 30%;
  background-color: #484855;
  color: white;
  padding: 3em;
  position: relative;
  font-family: "Baloo", sans-serif;
}

.post-left_title {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 700;
}

.post-left_title_sub {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0.25em;
}

.post-left_border {
  border: 2px solid #ebbe2b;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.post-left_author {
  position: absolute;
  bottom: 2em;
  display: flex;
  align-items: center;
}

.post-right {
  width: 60%;
  background-color: #fefefe;
  color: #484855;
  font-family: "Baloo", sans-serif;
}

.post-right_body {
  line-height: 2;
  padding: 2em;
}
.post-right_body p {
  margin-top: 1em;
}
.post-right_body p span {
  font-size: 2em;
  margin: 0;
}

.post-right_footer {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -4px 3px -2px rgba(0, 0, 0, 0.1);
  padding: 2em;
}

.post-right_footer_date {
  text-transform: uppercase;
}
.post-right_footer_date span {
  font-weight: 700;
}

.post-right_footer_pictos {
  font-size: 1.5em;
  margin-right: 1em;
}
.post-right_footer_pictos .fa-heart {
  color: #ebbe2b;
  margin-right: 1em;
}

a:visited {
  color: #484855;
}

a:hover {
  color: #694196;
}

/*# sourceMappingURL=style.css.map */
